{% extends "base.html" %}
{% block title %}Feed{% endblock %}
{% block content %}
<h2 class="mb-4">Your Feed</h2>

<div class="form-container">
    <div class="card mb-4">
        <div class="card-body">
            <p>Welcome! Post your campaign by uploading a picture.</p>
                <form method="POST" action="{{ url_for('main.feed') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="content">Post Content:</label>
                        <textarea name="content" id="content" class="form-control" rows="3" placeholder="Enter your post details here"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="media">Upload Media (Image | Optional):</label>
                        <input type="file" name="media" id="media" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Post</button>
                </form>
        </div>
    </div>
</div>

<hr>

<!-- Modal for Instructions -->
<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instructionModalLabel">Important Reminder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please ensure that the information you are providing is truthful and accurate. Mutual aid relies on honesty and transparency to help those who are truly in need.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitForm()">Understood</button>
            </div>
        </div>
    </div>


<!-- Display all posts -->
<h3>All Posts</h3>
{% if posts %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
                {% if post.media_filename %}
                    {% set lower = post.media_filename|lower %}
                    {% if lower.endswith('.mp4') or lower.endswith('.webm') or lower.endswith('.ogg') %}
                        <!-- Display video -->
                        <video controls>
                            <source src="{{ url_for('static', filename='uploads/' ~post.media_filename) }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <!-- Display media -->
                        <img src="{{ url_for('static', filename='uploads/' ~post.media_filename) }}" class="img-fluid" alt="Media">
                    {% endif %}
                {% endif %}
                <br>
                <small class="mt-2"><strong>Author:</strong> {{ post.author.email }}</small>
                <hr>
                <small class="text-muted">Posted on: {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</small>
                {% if session.get('user_id') == post.user_id %}
                    <div class="container justify-content-center">
                        <div class="btn-group" role="group">
                            <form action="{{ url_for('main.edit_post', post_id=post.id, user_id=session['user_id']) }}" method="GET">
                                <button type="submit" class="btn btn-primary">Edit Post</button>
                            </form>
                            
                            {% if not post.is_successful %}
                            <form action="{{ url_for('main.mark_as_successful', post_id=post.id) }}" method="POST" class="ml-2">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-trophy"></i> Mark as Successful
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No posts available.</p>
{% endif %}

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
function showInstruction() {
    $('#instructionModal').modal('show');
    return false; // Prevent form submission until the modal is acknowledged
}

function submitForm() {
    document.querySelector("form").submit();
}
</script>

{% endblock %}
