{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="form-container">
  <h2>Register</h2>
    <form method="POST" action="{{ url_for('main.register') }}">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
      </div>
      <!-- CAPTCHA Field -->
      <div class="form-group">
        <label for="captcha">Captcha:{{captcha_question}}</label>
        <input type="text" class="form-control" name="captcha" id="captcha" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}
